---
type Props = {
	title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Full Stack Developer | Go, Rust, TypeScript, React" />
		<title>{title}</title>
	</head>
	<body class="h-full bg-neutral-900 text-neutral-50">
		<slot />
	</body>
</html>
